<nav>
<ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/golden">Sobre perros golden</a></li>
    <li><a href="/pequines"></a>Sobre perros pequines</li>
    <li><a href="/pastor">Sobre perros pastor aleman</a></li>
</ul>
</nav>
