{{!-- views/pages/golden.hbs --}}

<section class="breed-info">
    <h1>Golden Retriever</h1>
    <p>El Golden Retriever es una raza de perro conocida por su amigable y paciente personalidad. Son compañeros ideales para las familias y se destacan por ser muy buenos con los niños. Esta raza también es famosa por su habilidad en trabajos de terapia y asistencia.</p>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/watch?v=dfdPn4pF9Ec" title="Video de Golden Retriever" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>
