
{{!-- views/pages/home.hbs --}}

<section class="home-info">
    <h1>Perros Domésticos</h1>
    <p>Los perros domésticos, conocidos científicamente como *Canis lupus familiaris*, son una subespecie del lobo y el mejor amigo del hombre. Son animales muy sociables, leales y han sido domesticados por miles de años. Hoy en día, existen cientos de razas de perros, cada una con sus características particulares, comportamientos y habilidades.</p>
    <div class="images">
        <img src="/images/dog1.jfif" alt="Perro doméstico 1">
        <img src="/images/dog2.jfif" alt="Perro doméstico 2">
    </div>
</section>
