{{!-- views/pages/pastor.hbs --}}

<section class="breed-info">
    <h1>Pastor Alemán</h1>
    <p>El pastor alemán es una raza de perro conocida por su inteligencia, lealtad y habilidades para el trabajo. Son comúnmente utilizados en labores de policía y rescate debido a su capacidad para aprender comandos complejos y su gran sentido del olfato.</p>
    <div class="images">
        <img src="/images/pastor1.jfif" alt="Pastor Alemán 1">
        <img src="/images/pastor2.jfif" alt="Pastor Alemán 2">
    </div>
    <table class="characteristics-table">
        <tr>
            <th>Característica</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>Origen</td>
            <td>Alemania</td>
        </tr>
        <tr>
            <td>Tamaño</td>
            <td>Grande</td>
        </tr>
        <tr>
            <td>Esperanza de vida</td>
            <td>9-13 años</td>
        </tr>
        <tr>
            <td>Temperamento</td>
            <td>Leal, protector, inteligente</td>
        </tr>
    </table>
</section>
