{{!-- views/pages/pequines.hbs --}}

<section class="breed-info">
    <h1>Pekinés</h1>
    <p>El pequinés es una raza de perro de origen chino, conocida por su carácter independiente y su pelaje distintivo. Son perros pequeños y leales, ideales para personas que buscan un compañero de tamaño reducido pero con una gran personalidad.</p>
    <div class="images">
        <img src="/images/pequines1.jfif" alt="Pequinés 1">
        <img src="/images/pequines2.jfif" alt="Pequinés 2">
    </div>
    <table class="characteristics-table">
        <tr>
            <th>Característica</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>Origen</td>
            <td>China</td>
        </tr>
        <tr>
            <td>Tamaño</td>
            <td>Pequeño</td>
        </tr>
        <tr>
            <td>Esperanza de vida</td>
            <td>12-14 años</td>
        </tr>
        <tr>
            <td>Temperamento</td>
            <td>Independiente, leal, protector</td>
        </tr>
    </table>
</section>
